<div id="contentDiv" class="font">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <div id=messageContainerDiv>
    <span class="messageSpan">{{message}}</span>
    <span id="displayErrorMessageSpan">{{displayErrorMessage}}</span>
  </div>
  <div class="playerDiv">
    <div id="playerTitleBarDiv">
      <span>{{playerTitle}}</span>
    </div>
    <div id="playerNameDiv">
      <span>{{player.firstname}}</span>
      <span>{{player.lastname}}</span>
    </div>
    <img src="{{player.imgurl}}" class="pic" />
  </div>
  <div id="changePinContainerDiv">
    <span>pin: </span>
    <input #pin />
  </div>
  <div id="buttonDiv">
    <button type="button" class='btn btn-success okButton' (click)='save(pin.value)'>Save</button>
    <button type="button" class='btn btn-success okButton' (click)='back()'>Back</button>
  </div>
</div>
