#buttonsDiv {
  vertical-align: middle;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.button {
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px #0f33b7;
  margin: 5px;
}

.invalidInput {
  border: solid rgba(255, 0, 0, 0.72) 5px !important;
}

.signup-font {
  font-family: feastFont;
}

.center {
  text-align: center;
}

.invalidatedSignUpDiv {
  font-size: 20px;
  animation: 0.75s blink infinite;
}

#formContainerContainer {
  margin-top: 5%;
}

.spanTextBoxContainer {
  margin: 22px;
  font-size: 18px;
  position: relative;
  align-content: center;
  text-align: center;
}

.inputTextBox {
  border-radius: 7px;
  border-color: palevioletred;
  vertical-align: middle;
}

.signUpSpan {
  font-size: 126%;
  vertical-align: middle;
}

.chooseTeamSpan {
  display: block;
  color: rgba(0, 47, 255, 0.849);
  font-size: 60px;
  animation: 0.6s pickATeamBlink infinite;
}

.pictureContainer {
  display: inline-block;
  animation: slideIn 0.5s ease-in;
}

.pictures {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.pictures:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.pictureSelected {
  width: 150px;
  height: 150px;
  margin: 20px;
  box-shadow: 0 4px 8px 10px rgba(158, 5, 5, 0.685), 0 6px 20px 0 rgba(124, 2, 2, 0.19);
  border-radius: 10px;
}
