<div id="contentDiv" class="signup-font">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <div *ngIf="isValidated===false" class="invalidatedSignUpDiv">
    <ngb-alert type="custom" [dismissible]="false">
      <strong>{{invalidUserInfoMessage | uppercase}}</strong>
    </ngb-alert>
  </div>
  <div *ngFor="let pic of profilePictures" class="pictureContainer">
    <img src="{{pic.imgurl}}" [ngClass]="(pic.clicked) ? 'pictureSelected' : 'pictures'" (click)="onProfilePicClicked(pic) "
    />
  </div>
  <div id="formContainerContainer ">
    <div class="form container formContainer">
      <form class="login-form " #loginForm>
        <div class="spanTextBoxContainer">
          <span class="signUpSpan">first name: </span>
          <input class="inputTextBox" placeholder="{{player.firstname}}" value={{player.firstname}} #firstname required/>
        </div>
        <div class="spanTextBoxContainer">
          <span class="signUpSpan ">last name: </span>
          <input class="inputTextBox" placeholder="{{player.lastname}}" value={{player.lastname}} #lastname required/>
        </div>
        <div class="spanTextBoxContainer ">
          <span class="signUpSpan ">email: </span>
          <input class="inputTextBox " placeholder="{{player.email}}" value={{player.email}} #email required/>
        </div>
        <div class="spanTextBoxContainer ">
          <button id="changePin" class="btn-success" (click)="onChangePinClicked()">Change Pin</button>
        </div>
      </form>
    </div>
    <div id="buttonsDiv">
      <button type="button" class="btn-primary button" (click)="save(firstname.value,lastname.value,email.value) ">Save</button>
      <button type="button" class="btn-primary button" (click)="goToNavigationPage() ">Back</button>
    </div>
  </div>
</div>
