<body class="mainBackground" #body>
  <div class="title">
    <div>
      <h1>
        {{title}}
      </h1>
    </div>
    <img src="./assets/prof-pic/nba-logo.jpg" class="nbaLogo">
    <h2> {{header}} | {{today | date}} </h2>
    <router-outlet></router-outlet>
  </div>
</body>
