<div class="signup-font signupContainerDiv">
  <div *ngIf="isValidated==false" class="invalidatedSignUpDiv">
    <ngb-alert type="custom" [dismissible]="false">
      <strong>{{invalidUserInfoMessage}}</strong>
    </ngb-alert>
  </div>
  <span *ngIf="!teamPicked" class="chooseTeamSpan">{{choosePictureString}}</span>
  <div *ngFor="let pic of profilePictures" class="pictureContainer">
    <img src="{{pic.imgurl}} " #team [ngClass]="(pic.clicked) ? 'pictureSelected' : 'pictures'" (click)="onProfilePicClicked(pic) "
    />
  </div>
  <div id="formContainerContainer ">
    <div class="formContainer">
      <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            First Name is required
          </mat-error>
          <mat-hint>Your hyland email</mat-hint>
        </mat-form-field>
      </form> -->
      <form class="login-form " #loginForm>
        <div class="spanTextBoxContainer ">
          <span class="signUpSpan ">first name* </span>
          <input class="inputTextBox " placeholder="firstname " onfocus="this.placeholder='' " onblur="this.placeholder='firstname' "
            #firstname required/>
        </div>
        <div class="spanTextBoxContainer ">
          <span class="signUpSpan ">last name* </span>
          <input class="inputTextBox " placeholder="lastname " onfocus="this.placeholder='' " onblur="this.placeholder='lastname' "
            #lastname required/>
        </div>
        <div class="spanTextBoxContainer ">
          <span class="signUpSpan ">email* </span>
          <input class="inputTextBox " placeholder="email " onfocus="this.placeholder='' " onblur="this.placeholder='email' " #email
            required/>
        </div>
        <div class="spanTextBoxContainer ">
          <span class="signUpSpan ">PIN* </span>
          <input class="inputTextBox " placeholder="Four digit PIN " onfocus="this.placeholder='' " onblur="this.placeholder='Four digit PIN' "
            #pin required/>
        </div>
      </form>
    </div>
    <div id="buttonsDiv">
      <button type="button" class="registerButton btn-primary" (click)="register(firstname.value,lastname.value,email.value,pin.value) ">Register</button>
      <button type="button " class="btn btn-primary homeButton" (click)="onHomeClicked() ">Home</button>
    </div>
  </div>
</div>
