.invalidInput {
  border: solid rgba(255, 0, 0, 0.72) 5px !important;
}

.signup-font {
  font-family: crosstownFont;
}

.signupContainerDiv {
  text-align: center;
  background-color: white;
}

button {
  font-size: 30px;
}

.invalidatedSignUpDiv {
  font-size: 50px;
  animation: 0.75s blink infinite;
}

#formContainerContainer {
  margin-top: 5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.formContainer {
  font-size: 30px;
}

.spanTextBoxContainer {
  margin: 22px;
  font-size: 30px;
  position: relative;
  align-content: center;
  text-align: center;
}

.inputTextBox {
  border-radius: 7px;
  border-color: palevioletred;
}

.signUpSpan {
  font-size: 126%;
  vertical-align: middle;
}

.chooseTeamSpan {
  display: block;
  color: rgba(0, 47, 255, 0.849);
  font-size: 60px;
  animation: 0.6s pickATeamBlink infinite;
}

#buttonsDiv {
  display: inline-flex;
  margin: 10px;
  font-family: feastFont;
  font-size: 30px;
}

.registerButton {
  border-radius: 10px;
  margin: 5px;
}

.homeButton {
  border-radius: 10px;
  margin: 5px;
  padding-bottom: 0px;
}

.pictureContainer {
  display: inline-block;
  animation: slideIn 0.5s ease-in;
}

.pictures {
  width: 150px;
  height: 150px;
  margin: 20px;
}

.pictures:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.445), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.pictureSelected {
  width: 180px;
  height: 180px;
  margin: 20px;
  box-shadow: 0 4px 8px 10px rgba(158, 5, 5, 0.685), 0 6px 20px 0 rgba(124, 2, 2, 0.19);
  border-radius: 10px;
}
