<div id="dialogContainerDiv" (mousemove)="userActivityDetected()" (mousedown)="userActivityDetected()" (mousewheel)="userActivityDetected()">
  <button type="button" class="btn btn-success xButton" (click)="close()">x</button>
  <router-outlet name="dialogOutlet" (activate)="onActivate($event)"></router-outlet>
</div>
