/*need to override the backdrop css class for the modal*/

::ng-deep .cdk-overlay-backdrop {
  position: fixed;
  box-sizing: border-box;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
  color: rgb(232, 232, 232);
  font-family: Menlo, Consolas, monospace;
  font-size: large;
  padding: 2rem;
  line-height: 1.2;
  white-space: pre-wrap;
  overflow: auto;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*need to override the modal css class*/

::ng-deep .mat-dialog-container {
  position: fixed;
  min-width: 600px;
  min-height: 700px;
  max-width: 700px;
  max-height: 800px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  top: 10%;
  left: 35%;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 6px 4px rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0px;
  padding: 2px;
}

.xButton {
  float: right;
  padding: 0px 6px 3px 6px;
  font-size: 17px;
  margin: 7px;
  vertical-align: middle;
}

.scrollDisabled {
  height: 100%;
  overflow: hidden;
}
