#contentDiv {
  display: inline-flex;
  margin: 40px;
}

#playingTodayDiv {
  margin: 40px 40px 0px 100px;
  font-family: feastFont;
  position: relative;
}

#selectPlayerAndButtonDiv {
  margin: 20px;
  position: relative;
}

#alternatePlayerContainerDiv {
  margin: 40px;
  display: grid;
  height: min-content;
  width: min-content;
}

#alternatePlayerDiv {
  font-family: feastFont;
}

#enoughPlayersForAGame {
  display: grid;
  font-family: feastFont;
  margin: 40px 60px 0px 120px;
}

#playingTodayBar {
  cursor: not-allowed;
}

#playingTodayBar:hover {
  background: black;
}

.teams {
  display: inline-grid;
  float: left;
}

.teamDiv {
  display: grid;
  width: auto;
}

.team1Div {
  margin-bottom: 20px;
}

.team1 {
  color: #e2ff00;
  border-color: #e2ff00;
}

.team2 {
  color: #d0730f;
  border-color: #d0730f;
}

.teamSpan {
  font-size: 30px;
  font-family: feastFont;
  vertical-align: middle;
  float: left;
}

.team1Span {
  color: #e2ff00;
}

.team2Span {
  color: #d0730f;
}

.nameAndFaceDiv {
  background-color: auto;
  align-content: center;
  font-family: sportsFont;
  color: ghostwhite;
  font-size: 25px;
  display: block;
  width: auto;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 0px 1px rgba(248, 194, 206, 0.171);
}

.nameAndFaceDiv:hover {
  box-shadow: 0 4px 8px 0 rgba(158, 59, 59, 0.685), 0 6px 20px 0 rgba(243, 217, 217, 0.699);
}

.playerClicked {
  box-shadow: 0 4px 8px 10px rgba(243, 6, 6, 0.685), 0 6px 15px 0 rgba(235, 231, 231, 0.699);
}

.large {
  font-size: 70px;
}

.largeImage {
  width: 100px;
  height: 100px;
}

.playerList {
  display: inline-block;
  animation: slideIn 0.5s ease-in;
  margin: 20px;
}

.playingTodayList {
  margin: 20px;
  display: grid;
}

.playingTodayColor {
  color: rgb(64, 236, 79);
  border-color: #ffffff73;
}

.playingTodayColor:hover {
  background: rgba(168, 163, 163, 0.753);
}

.feastFont {
  font-family: feastFont;
  font-size: 30px;
}

ul {
  list-style: none;
}

.signUpString {
  vertical-align: middle;
  font-size: 45px;
  color: #ff6262d0;
}

.profilePic {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.signUpButton {
  font-size: 30px;
  border-radius: 10px;
}

.playerContainer {
  box-shadow: 2px 2px 2px grey;
  cursor: pointer;
  color: white;
  width: 200px;
  overflow: hidden;
  font-size: 25px;
}

.playerContainer:hover {
  box-shadow: 0 4px 8px 0 rgba(158, 59, 59, 0.685), 0 6px 20px 0 rgba(243, 217, 217, 0.699);
}

.playerListContainer {
  display: inline-flex;
}

.signupButtonContainerDiv {
  margin: 20px;
}

.clickYourProfileSpan {
  font-size: 30px;
  color: coral;
}

.clickYourProfileSpanContainerDiv {
  margin: 20px;
}

.bigFont {
  font-size: 30px;
}

.dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.582);
}

.addNewPlayerButton {
  border-top: 1px solid grey;
  color: grey;
}

.playerNames {
  border-bottom: 1px solid white;
  color: white;
  background-color: #007bff;
}

.playerProfilePicInSelectPlayerList {
  width: 35px;
  height: 35px;
}
