<div id="contentDiv">
  <div id="selectPlayerAndButtonDiv">
    <div id="playerList" class="playerList feastFont">
      <div ngbDropdown (click)="onDropDownMenuClicked(playerListDropDownDiv)">
        <button class="btn btn-outline-primary bigFont" id="dropdownConfig" ngbDropdownToggle [innerText]="playerName"></button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig" #playerListDropDownDiv>
          <button class="dropdown-item bigFont playerNames" *ngFor="let player of players" (click)="onPlayerSelect(player)">{{player.firstname + ' ' + player.lastname}}
            <img class="playerProfilePicInSelectPlayerList" src="{{player.imgurl}}" />
          </button>
          <button class="dropdown-item bigFont addNewPlayerButton" (click)="signUp()"> +Add New Player</button>
        </div>
      </div>
    </div>
  </div>
  <div id="playingTodayDiv">
    <div id="playingTodayListDiv">
      <button class="btn btn-outline-primary bigFont playingTodayColor" id="playingTodayBar" [innerText]="playingTodayString"></button>
      <div aria-labelledby="dropdownConfig" class="playingTodayList">
        <label class="btn-outline-primary btn bigFont playingTodayColor" *ngFor="let playerToday of playersPlayingToday" (click)="onPlayerTodayClicked(playerToday)">{{playerToday.firstname + ' ' + playerToday.lastname}}
          <img class="playerProfilePicInSelectPlayerList" src="{{playerToday.imgurl}}" />
        </label>
      </div>
    </div>
  </div>
  <div id="enoughPlayersForAGame" *ngIf="numberOfPlayersToday >=6">
    <div id="team1" class="teamDiv team1Div">
      <span class="teamSpan team1Span">Team 1: </span>
      <div class="btn-outline-primary btn bigFont teams team1" *ngFor="let player1 of team1">
        <label class="player1Label">{{player1.firstname + ' ' + player1.lastname}}
          <img class="playerProfilePicInSelectPlayerList" src="{{player1.imgurl}}" />
        </label>
      </div>
    </div>
    <div id="team2" class="teamDiv">
      <span class="teamSpan team2Span">Team 2: </span>
      <div id="Team1" class="btn-outline-primary btn bigFont teams team2" *ngFor="let player2 of team2">
        <label>{{player2.firstname + ' ' + player2.lastname}}
          <img class="playerProfilePicInSelectPlayerList" src="{{player2.imgurl}}" />
        </label>
      </div>
    </div>
  </div>
  <div id="alternatePlayerContainerDiv" *ngIf="alternatePlayer">
    <span class="alternatePlayerSpan teamSpan">Subs:</span>
    <div id="alternatePlayerDiv" class="btn-outline-primary btn bigFont">
      <label>{{alternatePlayer.firstname + ' ' + alternatePlayer.lastname}}
        <img class="playerProfilePicInSelectPlayerList" src="{{alternatePlayer.imgurl}}" />
      </label>
    </div>
  </div>
</div>
