#buttonsDiv {
  margin-top: 5%;
}

.feastFont {
  font-family: feastFont;
  font-size: 30px;
}

.areYouPlayingSpan {
  color: chartreuse;
}

.voteButtons {
  position: relative;
  margin-top: 20px;
}

.profilePic {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.centerAlign {
  text-align: center;
}

.messageSpan {
  animation: 0.75s blink infinite;
}

#voteNotAllowedSpan {
  color: red;
  font-size: 30px;
}
