<div *ngIf="isVoteAllowed === true" id="voteComponentDiv" class="feastFont centerAlign">
  <span class="areYouPlayingSpan">
    Are you playing today {{player.firstname}}?
  </span>
  <bball-ngbd-buttons [vote]="userVote" (answerEmitter)="onVoteClicked($event)"></bball-ngbd-buttons>
  <div *ngIf="isVoteSelected===false">
    <span class="messageSpan">{{message}}</span>
  </div>
  <div id="buttonsDiv" class="saveOrCancelButtons">
    <button #saveButton class="btn btn-success buttons" (click)="save()">Save</button>
  </div>
</div>
<div *ngIf="isVoteAllowed === false">
  <span id="voteNotAllowedSpan">
    {{voteNotAllowedSpan}}
  </span>
</div>
