/*ANIMATIONS*/

@keyframes pickATeamBlink {
  0% {
    color: blue;
  }
  50% {
    color: rgba(55, 0, 255, 0.781);
    opacity: 0.5;
  }
  100% {
    color: yellow;
  }
}

@keyframes blink {
  0% {
    color: red;
  }
  50% {
    color: red;
    opacity: 0.5;
  }
  100% {
    color: red;
  }
}

@keyframes numOfPlayersBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes slideIn {
  0% {
    Opacity: 0;
    transform: translatex(-20px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes pin-animation {
  0% {
    color: green;
  }
  50% {
    color: rgba(0, 38, 255, 0.938);
    opacity: 0.5;
  }
  75% {
    color: rgba(255, 30, 0, 0.822);
    opacity: 0.5;
  }
  100% {
    color: green;
    opacity: 0.7;
  }
}
