#contentDiv {
  text-align: center;
  font-family: feastFont;
}

.dialogTitleDiv {
  border-radius: 9px;
  display: block;
  box-shadow: 2px 2px 5px 3px green;
  text-align: center;
  box-shadow: 2px 2px 5px 3px #135413;
  background: #006900;
  cursor: grab;
}

.dialogTitle {
  margin-left: 20px;
  font-size: 30px;
  color: #f5ebeb;
}

.font {
  font-family: feastFont;
  font-size: 30px;
}

.pic {
  width: 200px;
  height: 200px;
  margin: 5px 15px 15px;
}

.playerDiv {
  display: block;
  box-shadow: 2px 2px 6px 4px grey;
  text-align: center;
  height: fit-content;
  margin: 20px;
  border-radius: 10px;
  font-size: 30px;
  color: limegreen;
}

#playerTitleBarDiv {
  box-shadow: 2px 2px 3px 4px green;
  background-color: white;
  border-radius: 3px;
  color: #009c00;
  font-size: 30px;
  cursor: grab;
}

#playerNameDiv {
  margin: 10px;
  font-size: 30px;
  display: grid;
}

.buttons {
  font-size: 20px;
}
