/*FONTS  */

@font-face {
  font-family: sportsFont;
  src: url("../../assets/font/sportsfont.ttf");
}

@font-face {
  font-family: feastFont;
  src: url("../../assets/font/feastfont.ttf");
}

@font-face {
  font-family: crosstownFont;
  src: url("../../assets/font/crosstown.ttf");
}
