#containerDiv {
  display: block;
  text-align: center;
}

#buttonContainerDiv {
  text-align: center;
  margin: 10px;
}

#playerNameDiv {
  margin: 10px;
  font-size: 30px;
  color: limegreen;
}

#pinDiv {
  margin: 10px;
}

.dialogContentContainer {
  margin: 10px;
}

.inputTextBox {
  border-radius: 5px;
  width: 150px;
  color: rgba(116, 110, 110, 0.822);
}

.buttonFontSize {
  font-size: 25px;
}

.invalidPinMessage {
  animation: 0.75s blink infinite;
}

.pinMessageSpan {
  color: blue;
  animation: 0.75s numOfPlayersBlink infinite;
}

@keyframes pinMessageBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
