<div id="contentDiv" class="font">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <div mat-dialog-content class="dialogContentContainer">
    <span class="pinMessageSpan" #messageSpan>{{message}}</span>
    <div class="playerDiv">
      <div id="playerTitleBarDiv">
        <span>{{playerTitle}}</span>
      </div>
      <div id="playerNameDiv">
        <span>{{player.firstname}}</span>
        <span>{{player.lastname}}</span>
      </div>
      <img src="{{player.imgurl}}" class="pic" />
      <div id="pinDiv">
        <span>pin:
          <input class="inputTextBox" cdk-focus-initial onfocus="this.placeholder=''" onblur="this.placeholder='4 digit PIN'" #pin
            (keyup.enter)="onLogInClicked(pin)" />
        </span>
      </div>
    </div>
  </div>
  <div id=" buttonContainerDiv ">
    <button type="button " class="btn btn-success buttonFontSize" (click)="onLogInClicked(pin) ">log in</button>
    <button type="button " class="btn btn-success buttonFontSize" (click)="onCancelClicked() ">Cancel</button>
  </div>
</div>
