<div id="errorPageContainerDiv">
  <div id="errorPageContentDiv">
    <span class="displayMessageSpan">Good job. You just broke the website :) JK. Let Thomas know of this issue</span>
  </div>
  <div id="errorMessage">{{errorDisplayMessage}}</div>
  <div id="buttonsDiv">
    <button id="homeButton" class="btn btn-outline-primary" (click)="navigateToHome()">Home</button>
  </div>
</div>
