#errorPageContainerDiv {
  height: 400px;
  background-image: url('./../../assets/background/abstract.jpg');
  font-family: feastFont;
}

#errorMessage {
  font-size: 30px;
  color: #f11d1d;
  margin-top: 5%;
}

.displayMessageSpan {
  font-size: 30px;
  color: #00008bb5;
}

#homeButton {
  font-size: 50px;
}
