<div id="contentDiv">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <div mat-dialog-content class="dialogContentContainer">
    <span class="messageSpan">{{message}}</span>
    <div class="playerDiv">
      <div id="playerTitleBarDiv">
        <span>{{playerTitle}}</span>
      </div>
      <div id="playerNameDiv">
        <span>{{player.firstname}}</span>
        <span>{{player.lastname}}</span>
      </div>
      <img src="{{player.imgurl}}" class="pic" />
      <div id="emailDiv">
        <span>email: {{player.email}}</span>
      </div>
      <div id="pinDiv">
        <span>pin: {{player.pin}}</span>
      </div>
    </div>
  </div>
  <div id="buttonsDiv">
    <button type="button" class="btn btn-primary buttons" (click)="onDeleteClicked()">Delete</button>
    <button type="button" class="btn btn-primary buttons" (click)="onCancelClicked()">Cancel</button>
  </div>
</div>
