.yesOrNoButtons {
  position: relative;
  vertical-align: middle;
}

.btn-primary {
  margin: 3px;
}

.buttonsContainer {
  vertical-align: middle;
  border-bottom: 1px solid #80808026;
}

.buttons {
  font-size: 20px;
}
