<div class="feastFont buttonsContainer">
  <form [formGroup]="radioGroupForm">
    <div class="btn-group-toggle yesOrNoButtons " ngbRadioGroup name="radioBasic" formControlName="yesOrNo">
      <label ngbButtonLabel class="btn-primary buttons">
        <input type="radio" name="yesOrNoButton" (click)="buttonClicked('yes')" #yesButton checked="checked">Yes
      </label>
    </div>
  </form>
</div>
