<div id="contentDiv" class="font">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <span class="messageSpan">{{message}}</span>
  <div class="playerDiv">
    <div id="playerTitleBarDiv">
      <span>{{playerTitle}}</span>
    </div>
    <div id="playerNameDiv">
      <span>{{player.firstname}}</span>
      <span>{{player.lastname}}</span>
    </div>
    <img src="{{player.imgurl}}" class="pic" />
  </div>
  <div>
    <span class="todaysPlayersMessageSpan">{{todaysPlayersMessage}}</span>
  </div>
  <div class="playersDiv" *ngFor="let player of players">
    <div>
      <img class="profilePic " src="{{player.imgurl}} " />
    </div>
    <div>
      <span class="playerNameSpan">{{player.firstname + ' ' + player.lastname | uppercase}} </span>
    </div>
  </div>
  <div id="buttonDiv">
    <button type="button" class='btn btn-success okButton' (click)='goToHomepage()'>{{okButtonString}}</button>
  </div>
</div>
