#contentDiv {
  text-align: center;
}

.font {
  font-family: feastFont;
  font-size: 30px;
}

.profilePic {
  width: 80px;
  height: 80px;
}

.okButton {
  font-size: 20px;
}

.playersDiv {
  display: inline-block;
  margin: 10px;
  box-shadow: 2px 2px 6px 4px grey;
  border-radius: 5px;
}

.playerNameSpan {
  font-size: 15px;
}

.messageSpan {
  color: limegreen;
}

.todaysPlayersMessageSpan {
  color: blue;
}
