.feastFont {
  font-family: feastFont;
  font-size: 30px;
  color: white;
}

.numberOfPlayersPlayingSpan {
  color: rgb(0, 147, 255);
  font-size: 75px;
  font-family: feastFont;
  margin: 20px 20px 20px 20px;
  animation-duration: .5s;
  animation-name: numOfPlayersBlink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  vertical-align: middle;
}

.msgString {
  display: block;
  font-size: 30px;
  font-family: feastFont;
  color: rgba(129, 14, 14, 0.76);
  animation: blink 0.7s infinite;
}

#teamsContainerDiv {
  display: inline-flex;
}

#numberOfPlayersContainer {
  margin: 20px;
}

#lastTeam1DivContainer,
#lastTeam1ScoreSpan {
  color: #e2ff00;
  border-color: #e2ff00;
}

.lastTeam1DivContainer {
  margin: 0px 20px;
}

.lastTeam1ScoreSpan {
  margin: 0px 16px;
}

#lastTeam2DivContainer,
#lastTeam2ScoreSpan {
  color: #d0730f;
  border-color: #d0730f;
}

.lastTeam2ScoreSpan {
  margin: 0px 16px;
}

.lastTeam2DivContainer {
  margin: 0px 3px;
}
