<div id="scoreFromLastGameDiv" class="feastFont">
  <div id="scoreFromLastGameSpanContainerDiv">
    <div id="scoreFromLastGameSpanContainerDiv">
      <span id="scoreFromLastGameSpan">{{scoreFromLastGameSpan}}</span>
      <span>{{lastGamePlayedDate}}</span>
    </div>
    <span id="lastTeam1ScoreSpan" class="lastTeam1ScoreSpan">{{lastTeam1Score}}</span>
    <span> {{lastGameScoreColon}} </span>
    <span id="lastTeam2ScoreSpan" class="lastTeam2ScoreSpan">{{lastTeam2Score}}</span>
  </div>
  <div id="teamsContainerDiv">
    <div id="lastTeam1DivContainer" class="lastTeam1DivContainer">
      <span>{{Team1Span}}</span>
      <div id="lastTeam1Div" *ngFor="let team1 of lastTeam1">
        <span>{{team1.firstname}}</span>
      </div>
    </div>
    <div id="lastTeam2DivContainer" class="lastTeam2DivContainer">
      <span>{{Team2Span}}</span>
      <div id="lastTeam2Div" *ngFor="let team2 of lastTeam2">
        <span>{{team2.firstname}}</span>
      </div>
    </div>
  </div>
</div>
