<div id="contentDiv" class="fontsize">
  <div id="updateScoreDialogTitleContainerDiv" class="font">
    <div mat-dialog-title class="dialogTitleDiv">
      <span class="dialogTitle">{{dialogTitle}}</span>
    </div>
    <div *ngIf="isInputValid === false" class="invalidDateMessage">
      {{message}}
    </div>
  </div>
  <div id="teamsContainerDiv">
    <div id="team1Div">
      <span>Team 1 Score : </span>
      <input class="inputTextBox" #team1Score required/>
    </div>
    <div id="team2Div">
      <span>Team 2 Score : </span>
      <input class="inputTextBox" #team2Score required/>
    </div>
  </div>
  <bball-date-picker (dateEmitter)="datePicked($event)"></bball-date-picker>
  <div id="buttonsDiv">
    <button type="button" class="btn btn-primary" (click)="onUpdateClicked(team1Score.value, team2Score.value)">Update</button>
    <button type="button" class="btn btn-primary" (click)="onBackClicked()">Back</button>
  </div>
</div>
