#playerNameDiv {
  margin: 10px;
  font-size: 30px;
  color: limegreen;
  display: grid;
}

#buttonsDiv {
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  margin-bottom: 15px;
}
