<div id="contentDiv" class="font">
  <div mat-dialog-title class="dialogTitleDiv">
    <span class="dialogTitle">{{dialogTitle}}</span>
  </div>
  <div class="playerDiv">
    <div id="playerTitleBarDiv">
      <span>{{dialogMessage}}</span>
    </div>
    <div id="playerNameDiv">
      <span>firstname: {{player.firstname}}</span>
      <span>lastname: {{player.lastname}}</span>
      <span>email: {{player.email}}</span>
      <span>pin: {{player.pin}}</span>
    </div>
    <img src="{{player.imgurl}}" class="pic" />
  </div>
  <div id="buttonsDiv">
    <button class="btn btn-primary buttons" (click)="save()">Good</button>
    <button type="button" class="btn btn-primary buttons" (click)="back()">Back</button>
  </div>
</div>
