<div id="contentDiv">
  <div id="navigationTemplateContainer" class="font">
    <div mat-dialog-title class="dialogTitleDiv">
      <span class="dialogTitle">{{dialogTitle}}</span>
    </div>
    <div id="buttonContainerDiv" class="btn-group btn-group-toggle">
      <div *ngFor="let button of buttons">
        <button ngbButtonLabel class="btn-primary individualButton" (click)="onNavBarClicked(button.get(dialogName))">
          {{button.get(buttonDisplayString)}}
        </button>
      </div>
    </div>
    <div class="playerDiv">
      <div id="playerTitleBarDiv">
        <span>{{playerTitle}}</span>
      </div>
      <div id="playerNameDiv">
        <span>{{player.firstname}}</span>
        <span>{{player.lastname}}</span>
        <span>{{scoreSpan}}</span>
      </div>
      <img src="{{player.imgurl}}" class="pic" />
    </div>
  </div>
  <bball-vote></bball-vote>
</div>
