.feastFont {
  font-family: feastFont;
  font-size: 20px;
}

#buttonContainerDiv {
  text-align: center;
}

.dialogTitleDiv {
  border-radius: 9px;
  display: block;
  box-shadow: 2px 2px 5px 3px green;
}

.dialogTitle {
  margin-left: 20px;
  color: #009c00;
}

.font {
  font-family: feastFont;
  font-size: 30px;
}

.individualButton {
  margin: 10px;
  border-radius: 5px !important;
  font-size: 30px;
}

#navigationTemplateContainer {
  text-align: center;
}
