/* You can add global styles to this file, and also import other style files */

.scrollDisabled {
  height: 100%;
  overflow: hidden;
}

.body {
  background-color: #000000fa;
}

/* <Override the backdrop element's css for date picker> 

.cdk-overlay-container .mat-overlay-transparent-backdrop {
  display: none;
}

.cdk-overlay-container .cdk-overlay-backdrop:not(:first-child) {
  /* there are more than 1 overlay backdrops so I'm only hiding the overlay backdrop for the date picker 
  display: none;
}

.mat-input-placeholder-wrapper {
  display: none;
}

/*.mat-datepicker-popup selector is the DatePicker Calendar*/

.mat-datepicker-popup {
  /*override mat datepicker's default left position. TODO: This is not a good solution. If this date picker is used somewhere else, it will be not scalable. Fix this*/
  position: fixed;
  background-color: white;
  border-radius: 10px;
}

.mat-input-underline {
  background-color: black;
}

.mat-calendar-body-disabled {
  opacity: 0.5;
}

.mat-calendar-body {
  color: #0e2900;
  font-size: 15px;
}

.mat-calendar-body-cell .mat-calendar-body-cell-content {
  border-width: 0px;
}

.mat-icon-button,
.mat-calendar-period-button {
  background-color: transparent;
  font-size: 15px;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled) .mat-calendar-body-cell-content:hover {
  border-width: 2px;
  border-style: solid;
  border-radius: 999px;
  border-color: lightgreen;
}

/* </Override the backdrop element's css for date picker> */
