/*Most of the CSS for the date picker is defined in the root css file, style.css, because the date picker is initialized and appended to 
the cdk-overlay element which is the native element created by the angular/material. 
*/

#datePickerWholeContainerDiv {
  color: limegreen;
  font-size: 20px;
}

::placeholder {
  color: limegreen;
}

#datePickerContainerDiv {
  display: inline-flex;
}

#matInputBox {
  width: 200px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: darkred;
  font-size: 25px;
  text-align: center;
}

#matInputBox:focus {
  outline: none;
}
