<div id="datePickerWholeContainerDiv">
  <div id="datePickerContainerDiv">
    <div id="datePickerDiv">
      <input [matDatepicker]="picker" id="matInputBox" placeholder="Choose a date" onfocus="this.placeholder=''" onblur="this.placeholder='Choose a date'"
        #datePickerInput [max]="today" (dateInput)="dateEntered(datePickerInput.value)" (dateChange)="dateEntered(datePickerInput.value)">
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </div>
  </div>
</div>
